# macOS metadata
.DS_Store

# SwiftPM
platforms/swift/.build/
platforms/swift/.swiftpm/

# Xcode user state
**/xcuserdata/
*.xcuserstate

# Android/Gradle
platforms/android/.gradle/
platforms/android/**/build/

# .NET
platforms/dotnet/**/bin/
platforms/dotnet/**/obj/
platforms/dotnet/**/TestResults/
